modules = ["nodejs-20"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 40473761
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run dev"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80
