modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["run", "php82Packages.deployer", "sbclPackages.deploy", "deploy-rs", "php83Packages.deployer", "azure-cli-extensions.deploy-to-azure"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 40473761
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".json"]
id = "module:nodejs-20/languageServer:typescript-language-server"
