modules = ["nodejs-20"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 40473761
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm run dev"

[nix]
channel = "stable-24_05"
packages = ["deepin.dwayland", "libcardiacarrest", "gnomeExtensions.net-speed", "python311Packages.aionanoleaf", "gnomeExtensions.window-calls-extended"]

[deployment]
run = ["sh", "-c", "npm start"]

[[ports]]
localPort = 5000
externalPort = 80
